<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>market-wp.com</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="~/Areas/Jobs/assets/css/errorpage.css" />
</head>

<body>

   <div id='oopss'>
                <div id='error-text'  class="row p-4">
                    <div class="col-xl-6 col-md-6 col-sm-12 text-center d-flex justify-content-center align-items-center flex-wrap">
                        <img src="~/Areas/Jobs/assets/Images/41741-removebg-preview.png"  class="img-fluid" alt="404">
                    </div>

                    <div class="col-xl-6 col-md-6 col-sm-12 flex-wrap d-flex flex-column align-items-xl-start justify-content-center">
                        <div>
                            <h1>404</h1>
                            <h5>
                                Page not found!
                            </h5>
                 
                                <p>  We're sorry, the page you're requested could not be found. Please go back to the home page!</p>
                            <a href="" type="button" class="mb-4 button">Go Home</a>
                     



                        </div>

                  </div>
            </div>
        </div>
    @*<div id='oopss1'>
        <div id='error-text' class="row ">
            <div class="col-xl-6  col-sm-12 text-center d-flex justify-content-center align-items-center">
                <img src="~/Areas/Jobs/assets/Images/2(1).png" alt="404"/>
            </div>

            <div class="col-xl-6 col-sm-12  d-flex flex-column align-items-xl-start justify-content-center">
                <div>
                    <h1>404</h1>
                    <p class="">
                        Page not found
                    </p>
                    <div class="sorry-text">
                        <p>  We're sorry, the page your requested could not be found.<br /> Please go back to the home page!</p>
                        <button class="mb-4"><a href="">Go Home</a></button>
                    </div>



                </div>

            </div>
        </div>
    </div>*@


</body>

</html>