
@{
    ViewBag.Title = "InfoPage";
    Layout = "~/Areas/Jobs/Views/Shared/_Layout.cshtml";
}

<div class="d-flex text-center justify-content-center align-items-center" id="info" >
    <div>
        <img src="~/Areas/Jobs/assets/Images/mark-removebg-preview.png" />
        <h1>Your Submission has been successful!</h1>
        <p>Thanks we have recieve your submission.</p>
        <button class="mb-4"><a href="">Go Home</a></button>
    </div>

</div>

