@model IList<Requirement.BranchWiseEMP_Dashboard>
    <style>
        .FixedHeightContainer {
            height: 250px;
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-bottom:20px;
        }

        .table {
            height: 150px;
            overflow: auto;
            background: #fff;
        }
    </style>
<div class="table-responsive center FixedHeightContainer">
    <table class="table table-bordered table-hover table-wrapper-scroll-y my-custom-scrollbar  table-striped text-nowrap key-buttons">
        <thead>
            <tr>
                <th>Branch Name</th>

                <th>Max Employee</th>
                <th>Active Employee</th>
                <th>Pending</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BranchName</td>

                    <td>@item.MaxEMPCount</td>
                    <td>@item.ActiveEMP</td>
                    <td>@item.PendingCount</td>
                    <td>
                        @if (ClsApplicationSetting.GetSessionValue("Write") == "True" && item.PendingCount != 0)
                        {
                            <a id="btnAddglobal" class="btn btndefault  " onclick="ListHeaderAdd();">
                                <i class="fa fa-plus"></i> Add
                            </a>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>