/* media query start */

@media screen and (max-width:370px) {
    .mb-dgn .dgn-sxbox .col-lg-4 {
        width: 103px;
    }

    .btn {
        font-size: 12px;
        padding: 2px 4px;
        line-height: 20px;
        min-width: 80px;
    }

    .modal-footer .btn {
        margin-right: 2px;
        margin-left: 2px;
    }

    .modal-footer {
        padding: 10px;
    }
}

@media screen and (max-width:1100px) {
    .full-hide {
        display: block;
    }
}

@media screen and (max-width:575px) {
    .ssrmenu {
        display: block !important;
    }

    #RoleMenuManagementFrom .page-leftheader-btn {
        position: initial;
    }

    i.card-custom-icon {
        text-align: right;
        line-height: 37px;
        margin: 0;
    }

    .expenses-card {
        min-height: 85px;
        padding: 0;
    }

    .feature .feature-icon {
        float: right;
    }

    .expenses-card .card-body {
        position: initial;
        top: 0;
    }

    .expenses-card h1 {
        font-size: 1.75rem;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .expenses-card .feature p {
        margin-bottom: 0;
        font-size: 14px;
    }

    .nav-link {
        padding: 0.4rem 0.9rem;
    }

    .wlc-dgn h4 span {
        font-size: 32px;
        line-height: 36px;
    }

    #MyClockDisplay .spnlivedate {
        margin: 5px auto 5px;
        font-size: 15px;
    }

    .wlc-dgn h4 span small {
        font-size: 18px;
        letter-spacing: 1px;
        color: #27a9e1;
        display: block;
    }

    .wlc-dgn {
        width: 100%;
    }

        .wlc-dgn h4 {
            font-size: 24px;
            line-height: 42px;
        }

    .modal-footer {
        display: inline-block;
        text-align: center;
    }

        .modal-footer .btn {
            margin-right: 2px;
            margin-left: 2px;
        }

    .card-body .btn {
        padding: 2px 5px;
        margin-bottom: 0;
    }

    .bg-primary.card.text-white .d-block.card-header h2 {
        font-size: 15px;
        margin-bottom: 0 !important;
    }

    #toast {
        max-width: 90%;
    }

    .avatar-xl {
        width: 2rem !important;
        height: 2rem !important;
        line-height: 2rem;
        font-size: 1.75rem;
    }

    .avatar-md {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 1rem;
    }

    .profile-dropdown {
        margin-top: 2px;
        padding-right: 0px;
    }

    .logocenter {
        padding-top: 6px;
    }

        .logocenter img {
            width: 85%;
        }

    .d-em {
        height: auto;
    }


    .dsk-t {
        display: none;
    }

    .fr-bx {
        display: table;
        width: 100%;
        margin-bottom: 30px;
    }

    .d-em img {
        display: none;
    }



    .card-body {
        padding: 5px;
    }

    .fr-bx .fr-bx-4 {
        display: table;
        float: left;
        width: 25%;
    }

    .frbox-dg {
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        margin: 5px;
    }

        .frbox-dg i {
            font-size: 32px;
            margin-bottom: 12px;
            display: table;
            width: 100%;
        }

        .frbox-dg h2 {
            font-size: 13px;
        }

    .mmt-20 {
        margin-top: 20px;
    }

    .dgn-sxbox {
        background: #fff;
        box-shadow: 0px 0px 0px 0px rgb(176 184 214 / 9%), 5px 5px 10px -6px #b0b8d6;
    }

        .dgn-sxbox .row, .dgn-sxbox .col-lg-4 {
            padding: 0px;
            margin: 0px;
        }



    .mb-dgn .dgn-sxbox .col-lg-4 {
        width: 137px;
    }

    .dgn-sxbox .card {
        background: none;
        box-shadow: 0px 0px 0px 0px rgb(176 184 214 / 9%), 0px 0px 0px 0px #b0b8d6;
        margin-bottom: 0px;
        text-align: center;
        padding: 5px 0px;
    }

    .mb-dgn .dgn-sxbox .fs-60 {
        font-size: 22px !important;
        position: inherit;
        margin: 0px auto;
        display: contents;
        text-align: center;
        width: auto;
        height: auto;
        text-align: center;
    }

    .mb-dgn .dgn-sxbox h2 {
        font-size: 16px;
    }

    .dgn-sxbox .card-body {
        padding: 0px;
    }

    .mbdgnsle .card-body {
        padding: 2px 13px !important;
    }
}
@media screen and (max-width:450px) {
    .table.dataTable th, table th {
        padding: 5px !important;
    }

    #TargetDiv .imgloader {
        max-width: 250px;
    }

    .btn {
        font-size: 13px;
        padding: 2px 2px;
        line-height: 22px;
        min-width: 75px;
        margin-left: 2px
    }

        .btn i {
            margin-right: 2px;
            vertical-align: middle;
            font-size: 15px;
        }

    .ssrmenu {
        display: block !important;
    }

    .mt-1 {
        margin-top: 0 !important;
    }

    .app.light-mode .app-header .header-brand .header-brand-img.mobile-logo {
        margin-top: 4px;
        width: auto;
    }

    .app-header .header-brand {
        margin-right: 0;
    }

    .close-toggle {
        display: flex;
    }

    .open-toggle {
        display: none;
    }

   

    .mb-dgn .dgn-sxbox .col-lg-4 {
        width: 118px;
    }

    .crdtxt {
        margin: 6px 0px;
        font-size: 13px;
    }

    .fr-bx .fr-bx-4 {
        width: 23%;
    }

    .frbox-dg i {
        font-size: 25px;
        margin-bottom: 10px;
    }


    .page-header {
        margin: 10px 0px 0px;
    }

    .page-title {
        font-size: 16px !important;
    }

    .frbox-dg h2 {
        font-size: 12px;
    }

    .mb-dgn {
    }

        .mb-dgn .col-lg-4 {
            width: 114px;
        }

        .mb-dgn .card-custom-icon {
            position: initial;
            color: #e5e9f2;
            width: 30px;
            height: auto;
        }

        .mb-dgn .fs-60 {
            font-size: 32px !important;
        }

        .mb-dgn h2 {
            font-size: 20px;
        }

    .card, .mbdgnsle .card-body {
        box-shadow: 0px 0px 0px 0px rgb(176 184 214 / 9%), 5px 5px 10px -6px #b0b8d6;
    }

    .mbdgnsle .card {
        box-shadow: 0px 0px 0px 0px rgb(176 184 214 / 9%), 0px 0px 0px -6px #b0b8d6;
        background: none;
    }

    .card-title {
        font-size: 16px;
    }

    .mbdgnsle .card-body {
        width: 45%;
        float: left;
        background: #fff;
        border-radius: 10px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .mbdgnsle .font-weight-semibold {
        font-size: 12px;
    }

    .table thead th, .table thead td, .table-vcenter td, .table-vcenter th {
        font-size: 12px;
        padding: 5px;
    }



    .mbdgnsle .h-370 {
        height: auto !important;
    }

    .mbdgnsle .crypto-icon {
        display: none;
    }

    .header.top-header {
        padding: 0px;
    }

    .app-content .side-app {
        padding: 5px 0.75rem 0 0.75rem !important;
    }
}


@media screen and (max-width:400px) {
    .mb-dgn .dgn-sxbox .col-lg-4 {
        width: 109px;
    }
}



@media screen and (max-width:350px) {
    .mb-dgn .dgn-sxbox .col-lg-4 {
        width: 33%;
    }

    .modal-footer {
        padding: 7px;
        display: inline-block;
        text-align: center;
    }

    .spnlivedate {
        font-size: 14px;
        letter-spacing: 0.5px;
        width: auto;
    }

    #MyClockDisplay .spnlivedate {
        letter-spacing: 0.5px;
    }
}

@media screen and (max-width:600px) {
    #WarningModal .modal-dialog {
        margin-top: 45%;
    }

    .camerabtn a {
        margin-bottom: 10px;
    }

    .camerabtn img {
        width: 100%;
        padding: 15px;
    }

    .camerabtn a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: absolute;
        right: 12px;
        top: -12px;
        font-size: 20px;
    }

    .table .camerabtn img {
        width: 80px;
        padding: 0;
    }

    .mrt20 {
        margin-top: 5px;
    }

    .mmt-15 {
        margin-top: 15px;
    }

    app-content {
        background: #f1e9ff;
    }

    .cardapp {
        background: #5f478c;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .appscreen .userprofile img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
        border: 1px solid #dee2e6;
        padding: 0px;
    }

    .appscreen .card-header .card-title {
        margin-bottom: 0;
        color: #5f478c;
    }

    .appscreen .form-group p {
        line-height: 16px !important;
        font-size: 12px !important;
        font-weight: 500 !important;
        background: #fff;
        text-align: center;
        border-radius: 0px 0px 5px 5px;
    }

    .appscreen td {
        line-height: 16px !important;
        font-size: 12px !important;
        font-weight: 500 !important;
        box-shadow: 1px 1px 3px 2px #eee;
        background: #fff;
        text-align: center;
    }

    .appscreen .fc-h-event.A .fc-event-title {
        color: #f00;
        font-weight: 600;
    }

    .appscreen .fc-h-event.HD {
        color: #0dd;
        font-weight: 600;
    }

    .appscreen .table.dataTable th, .appscreen table th {
        background: #5f478c !important;
        color: #ffffff !important;
        padding: 4px !important;
        font-size: 12px !important;
    }

    .appscreen .table > thead > tr > th {
        text-transform: capitalize;
    }

    .userdealer h2 {
        color: #fff;
        font-size: 13px;
        float: left;
        display: inline-block;
        min-width: 50%;
        text-align: left;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: 400;
    }

    .appscreen .form-control {
        height: 25px;
        padding: 0px 5px;
    }

    .form-group p {
        line-height: 1.5 !important;
        font-size: 13px !important;
        font-weight: 400 !important;
        text-align: center;
    }

    .linefive {
        float: left;
        width: auto;
        margin-right: 3%;
    }

        .linefive .frbox-dg {
            background: #fff;
            padding: 6px;
            border-radius: 10px;
            text-align: center;
            margin: 5px;
        }

    .footerbar {
        display: table;
        width: 100%;
        margin-bottom: 0;
        background: #fff;
        box-shadow: 0px -1px 4px 0px #333;
        position: fixed;
        bottom: 0;
    }

    .appscreen table {
        width: 100%;
        margin: 0;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 2px #eee;
    }

    .appscreen .fc-event {
        border: none;
    }

    .appscreen .fc-day-today .fc-daygrid-day-frame {
        background: none;
    }

    .salestatus {
        margin-bottom: 50px;
    }

    .appscreen .frbox-dg i {
        color: #5f478c;
    }

    .leftgraph {
        width: 80px;
        float: left;
        margin-right: 6px;
    }

        .leftgraph img {
            width: 80px;
        }

    #DivTargetAchieved {
        width: 100%;
        float: left;
    }

    .fulltable#DivTargetAchieved {
        width: 100%;
    }

    .appscreen .card, .appscreen .mbdgnsle .appscreen .card-body {
        box-shadow: 1px 1px 3px 2px #eee;
    }

    .appscreen .btn, .appscreen .swal-button, .appscreen .add-btn {
        -webkit-box-shadow: 1px 1px 3px 2px #eee;
        -moz-box-shadow: 1px 1px 3px 2px #eee;
        box-shadow: 1px 1px 3px 2px #eee;
    }

    #carouselExampleIndicators .carousel-item img {
        border-radius: 5px;
    }

    .appscreen .card {
        border-radius: 5px !important;
    }

    .appscreen .card-header {
        padding: 0px 0px 5px 0px;
    }

    .salestatus .fr-bx-4 {
        width: 24.5%;
    }

    .salestatus .frbox-dg {
        background: #fff;
        padding: 7px;
        border-radius: 5px;
        margin: 10px 7px;
        box-shadow: 1px 1px 3px 2px #eee;
    }

    .salestatus .fr-bx-4:first-child .frbox-dg {
        margin-left: 0px;
    }

    .salestatus .fr-bx-4:last-child .frbox-dg {
        margin-right: 0px;
    }

    /*--------------------Modal-----------------------------------------------------------*/
    @media (min-width: 992px) {
        .modal-lg {
            /* max-width: 800px; */
            width: 95vw;
            max-width: none;
            height: 100%;
            margin: 0 auto;
        }
    }


    @media (min-width: 992px) {
        .modal-lg {
            /* max-width: 800px; */
            width: 95vw;
            max-width: none;
            height: 100%;
            margin: 0 auto;
        }
    }
    /*----------------***----Modal--------------------------------***---------------------------*/

    @media (max-width: 610px) {
        .detail, .demo-trigger {
            float: none;
        }

        .demo-trigger {
            display: block;
            width: 50%;
            max-width: 200px;
            margin: 0 auto;
        }

        .detail {
            margin: 0;
            width: auto;
        }

        .responsive-hint {
            display: none;
        }
    }



    /*media query end */





    /*--------------------------------------buttons---------------------------------------------------------------------*/



    .btn-secondary {
        color: #000 !important;
        font-weight: bold;
        /* background-color: #57cab4;
    border-color: #57cab4;
    box-shadow: 0 0px 10px -5px rgb(246 45 103 / 50%);*/
    }

    .btn-secondary {
        align-items: center;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        fill: #06f;
        border: 0;
        /* border-radius: 8px;*/

        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-family: Phantomsans, sans-serif;
        font-size: 12px;
        justify-content: center;
        line-height: 0.8rem;
        padding: 10px 10px;
        /*  margin-bottom: 20px;*/
        margin-right: 4px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
    }

        .btn-secondary:hover {
            outline: 0;
            background: #61aafb;
        }

    .btn-white {
        background: #fff !important;
    }


    /*----------------------***----------------buttons-----------------------***--------------------*/


    .bgred {
        background: #fffbfb;
        border-color: red;
    }

    .imgres {
        height: 200px;
        width: 200px;
    }
    /*-----------------------------------------camera------------------------*/
    #CameraScreen {
        width: 100% !important;
        height: auto !important;
        margin-bottom: 20px;
    }

        #CameraScreen video {
            width: 100% !important;
            height: auto !important;
            margin-bottom: 20px;
        }
    .camerabtn {
        text-align: center;
        position: relative;
        width: 100%;
        float: none;
        margin: 0px auto;
        padding: 0;
        margin-top: 6px;
    }
.modal-content-demo .camerabtn {
        width: 75%;
        margin: 0px auto;
    }

        .camerabtn a {
            width: 40px;
            height: 40px;
            line-height: 40px;
            position: absolute;
            right: 0;
            top: -8px;
            background: #4454c3;
            display: inline-block;
            text-align: center;
            font-size: 22px;
            color: #fff;
            border-radius: 50px;
        }

            .camerabtn a i {
                margin: 0px;
            }

        .camerabtn img {
            width: 100%;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    .table-section .card.p-4 {
        padding: 0px 5px !important;
    }
    .table .camerabtn {
        margin-bottom: 5px;
        margin-top: 20px;
    }

        .table .camerabtn a {
            width: 30px;
            height: 30px;
            line-height: 23px;
            position: absolute;
            right: 0;
            top: -20px;
            background: #4454c3;
            display: inline-block;
            text-align: center;
            font-size: 24px;
            color: #fff;
            border-radius: 50px;
        }

        .table .camerabtn img {
            width: 100px;
        }

        .table .camerabtn a i {
            margin: 0px;
            font-size: 16px;
            color: #fff;
        }

    /*---------***--------------------------------camera----------*****--------------*/




    .crypto-icon {
        width: 30px;
        height: 30px;
        border-radius: 4px;
        line-height: 34px;
        text-align: center;
        font-size: 16px;
        margin-right: 10px;
        font-weight: bold;
        color: #fff !important;
    }


    .nmwith-list h5 {
        font-size: 14px;
    }

    /*************************/
    .svg-icon, .close-toggle .header-icon {
        color: #73777b;
        fill: #73777b;
    }


    .search-icon, .header-icon {
        color: #73777b;
        fill: #73777b;
    }




    .prm-clr {
        color: #27a9e1 !important;
    }


    .scd-clr, body {
        color: #212529;
    }



    .user-info h5 {
        color: #73777B;
    }

    /*new code*/
    #back-to-top {
        background: #57cab4;
        border-radius: 100%;
    }

        #back-to-top:hover {
            background: #5b5e8c;
            color: #4454c3;
            border: 2px solid #4454c3;
        }

    .svg-icon {
        color: #fff;
        fill: #fff;
    }

    /*-------------------------------------------------------------table---------------------------------------------------*/

    .table.dataTable th, table th {
        background-color: #005f73 !important;
        border: none;
        /* color: #ccc;*/
        padding: 6px !important;
        font-size: 16px !important;
    }

    .dataTables_empty {
    }

    .dataTables_empty {
        font-size: 16px !important;
        color: #bdccd8 !important;
    }

    .table.dataTable thead tr {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .table.dataTable {
        width: 100% !important;
    }

    #example thead {
    }

    .page-item dd]dd.active .page-link, .dataTables_paginate a:hover, .dataTables_paginate .current {
        background-color: #60c8b7;
        border: 0px;
    }


    .hmtd td {
        padding: 3px !important;
    }

    table.border {
        border: 0px !important;
    }

    .hmtdlb th, .hmtd th {
        font-weight: bold !important;
        font-size: .934rem;
        padding: 10px;
        text-align: left;
    }
    /*--------------------------------------------******-----------------table-----*****----------------------------------------------*/




    .dropdown.header-option {
        display: none
    }


    /*---------------------------------------------------------------modal--------------------------------------------------*/
    .modal-title {
        /* font-weight:bold !important*/
    }

        .modal-title .fas {
            display: none
        }


    .modal-header .close {
        padding: 0px;
        color: #fff;
        opacity: 9;
    }

    .modal-header {
        padding: 0px;
        background: #484c7f;
        padding: 10px;
    }

    .modal {
        overflow: auto !important;
    }

    /*---------------------------------------------------**------------modal-------------**-------------------------------------*/
    .page-leftheader .page-title {
        font-size: 20px
    }



    /*-------------------------------------------------------------------------fontawsome-----------------------------------------------*/


    .fa-check-circle .checkgreen {
        color: green !important
    }

    .fa-circle-check {
        color: green !important
    }

    .fa-pen-to-square {
        color: green !important;
    }

    .fa-times-circle.crossred {
        color: green !important;
    }
    /*------------------------------------------------------**----------------fontawsome-----------------------**---------------------*/



    /*********-------------------------------height/width---------------------------------------------------------------**************/

    .h-220 {
        height: 220px;
    }

    .tw-100 {
        width: 100px;
    }

    .h-370 {
        height: 370px !important;
    }
    /*********---------------------------***----height/width------------****---------------------------------------------------**************/
    .crdtxt {
        margin: 10px 0px;
        font-size: 14px;
    }

    sup {
        color: #ff0000;
    }

    /*-----------------------------------Backgrounds----------------------------------------------------------------------------------*/
    .bg-ac-transparent {
        background-color: rgb(68 195 189 / 50%) !important;
    }

    .bg-ac {
        background-color: #44c3c3 !important;
    }

    .bg-ap-transparent {
        background-color: rgb(224 89 59 / 50%) !important;
    }

    .bg-ap {
        background-color: #e86735 !important;
    }

    /*-----------------------------------Backgrounds----------------------------------------------------------------------------------*/




    /*---------------------------------------display---------------------------------------------------------*/
    .fr-bx {
        display: none;
    }


    .dsk-t {
        display: block;
    }
    /*------------------**---------------------display---------**------------------------------------------------*/


    /*****-----------------------------------------toggle-----------------------------------------------*******/
    .can-toggle {
        position: relative;
    }

        .can-toggle *, .can-toggle *:before, .can-toggle *:after {
            box-sizing: border-box;
        }

        .can-toggle input[type=checkbox] {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }

            .can-toggle input[type=checkbox][disabled] ~ label {
                pointer-events: none;
            }

                .can-toggle input[type=checkbox][disabled] ~ label .can-toggle__switch {
                    opacity: 0.4;
                }

            .can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:before {
                content: attr(data-unchecked);
                left: 0;
            }

            .can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:after {
                content: attr(data-checked);
            }

        .can-toggle label {
            user-select: none;
            position: relative;
            display: flex;
            align-items: center;
        }

            .can-toggle label .can-toggle__label-text {
                flex: 1;
                padding-left: 32px;
            }

            .can-toggle label .can-toggle__switch {
                position: relative;
                cursor: pointer;
            }

                .can-toggle label .can-toggle__switch:before {
                    content: attr(data-checked);
                    position: absolute;
                    top: 0;
                    text-transform: uppercase;
                    text-align: center;
                }

                .can-toggle label .can-toggle__switch:after {
                    content: attr(data-unchecked);
                    position: absolute;
                    z-index: 5;
                    text-transform: uppercase;
                    text-align: center;
                    background: white;
                    transform: translate3d(0, 0, 0);
                }

        .can-toggle input[type=checkbox][disabled] ~ label {
            color: rgba(234, 0, 48, 0.5);
        }

        .can-toggle input[type=checkbox]:focus ~ label .can-toggle__switch, .can-toggle input[type=checkbox]:hover ~ label .can-toggle__switch {
            background-color: #ea0030;
        }

            .can-toggle input[type=checkbox]:focus ~ label .can-toggle__switch:after, .can-toggle input[type=checkbox]:hover ~ label .can-toggle__switch:after {
                color: #b70026;
            }

        .can-toggle input[type=checkbox]:hover ~ label {
            color: #d1002b;
        }

        .can-toggle input[type=checkbox]:checked ~ label:hover {
            color: #55bc49;
        }

        .can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch {
            background-color: #70c767;
        }

            .can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:after {
                color: #4fb743;
            }

        .can-toggle input[type=checkbox]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type=checkbox]:checked:hover ~ label .can-toggle__switch {
            background-color: #5fc054;
        }

            .can-toggle input[type=checkbox]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type=checkbox]:checked:hover ~ label .can-toggle__switch:after {
                color: #47a43d;
            }

        .can-toggle label .can-toggle__label-text {
            flex: 1;
        }

        .can-toggle label .can-toggle__switch {
            transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
            background: #ff0538;
        }

            .can-toggle label .can-toggle__switch:before {
                color: rgba(255, 255, 255, 0.5);
            }

            .can-toggle label .can-toggle__switch:after {
                -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
                transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
                color: #ea0030;
            }

        .can-toggle input[type=checkbox]:focus ~ label .can-toggle__switch:after, .can-toggle input[type=checkbox]:hover ~ label .can-toggle__switch:after {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
        }

        .can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:after {
            transform: translate3d(65px, 0, 0);
        }

        .can-toggle input[type=checkbox]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type=checkbox]:checked:hover ~ label .can-toggle__switch:after {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
        }

        .can-toggle label {
            font-size: 14px;
        }

            .can-toggle label .can-toggle__switch {
                height: 36px;
                flex: 0 0 134px;
                border-radius: 4px;
            }

                .can-toggle label .can-toggle__switch:before {
                    left: 67px;
                    font-size: 12px;
                    line-height: 36px;
                    width: 67px;
                    padding: 0 12px;
                }

                .can-toggle label .can-toggle__switch:after {
                    top: 2px;
                    left: 2px;
                    border-radius: 2px;
                    width: 65px;
                    line-height: 32px;
                    font-size: 12px;
                }

                .can-toggle label .can-toggle__switch:hover:after {
                    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
                }

        .can-toggle.can-toggle--size-small input[type=checkbox]:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type=checkbox]:hover ~ label .can-toggle__switch:after {
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
        }

        .can-toggle.can-toggle--size-small input[type=checkbox]:checked ~ label .can-toggle__switch:after {
            transform: translate3d(44px, 0, 0);
        }

        .can-toggle.can-toggle--size-small input[type=checkbox]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type=checkbox]:checked:hover ~ label .can-toggle__switch:after {
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
        }

        .can-toggle.can-toggle--size-small label {
            font-size: 13px;
        }

            .can-toggle.can-toggle--size-small label .can-toggle__switch {
                height: 28px;
                flex: 0 0 90px;
                border-radius: 2px;
            }

                .can-toggle.can-toggle--size-small label .can-toggle__switch:before {
                    left: 45px;
                    font-size: 10px;
                    line-height: 28px;
                    width: 45px;
                    padding: 0 12px;
                }

                .can-toggle.can-toggle--size-small label .can-toggle__switch:after {
                    top: 1px;
                    left: 1px;
                    border-radius: 1px;
                    width: 44px;
                    line-height: 26px;
                    font-size: 10px;
                }

                .can-toggle.can-toggle--size-small label .can-toggle__switch:hover:after {
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
                }

    /*****---------------------------------**--------toggle------------**-----------------------------------*******/


    /*--------------------page-leftheader btn--------------------------------------------------------*/
    .page-leftheader-btn {
        position: static !important;
        margin-top: 0px;
        text-align: end;
        width: 100%;
    }

    /*--------------****------page-leftheader btn---------------------*****-----------------------------------*/

    .clock {
        text-align: center;
        color: #6574cd;
        font-size: 19px;
        font-weight: bold;
        letter-spacing: 7px;
        background: #ebeeff;
        padding: 10px 10px;
        border-radius: 10px;
        display: table;
        margin: 10px auto 30px;
        box-shadow: 0px 10px 10px 20px rgb(176 184 214 / 9%), 10px 10px 15px -5px #b0b8d6;
    }

    .dvdline {
        margin: 0px 5px;
        color: #d8d8d8;
    }

    .rpttable th {
        text-align: center;
    }
    /*-----------------------------------------circle---------------------------------*/
    .circle {
        position: relative;
        width: 150px;
        height: 150px;
        margin: 0.5rem;
        border-radius: 50%;
        background: #FFCDB2;
        overflow: hidden;
    }

        .circle.per-25 {
            background: conic-gradient( hsl(360, 100%, 50%), hsl(315, 100%, 50%), hsl(270, 100%, 50%), hsl(225, 100%, 50%), hsl(180, 100%, 50%), hsl(135, 100%, 50%), hsl(90, 100%, 50%), hsl(45, 100%, 50%), hsl(0, 100%, 50%) );
        }

        .circle .inner {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 115px;
            height: 115px;
            background: #fff;
            border-radius: 50%;
            font-size: 1.85em;
            font-weight: 300;
            color: #73777B;
        }
    /*----------------------------------***-------circle-------***--------------------------*/




    /*-------------------------------------------color bar-----------------------------------*/
    .color-bar div {
        display: flex;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 47px;
        height: 10px;
    }

        .color-bar div:before {
            width: 10px;
            height: 10px;
            border-radius: 0 10px 10px 0;
            background-color: #FFF;
            display: inline-block;
            vertical-align: middle;
            /* margin-right: 3px;*/
            content: '';
        }

        .color-bar div:nth-child(1) {
            background-color: #004167;
        }

        .color-bar div:nth-child(2) {
            background-color: #0dcd94;
        }

        .color-bar div:nth-child(3) {
            background-color: #f7284a;
        }

        .color-bar div:nth-child(4) {
            background-color: #fbc518;
        }

        .color-bar div:nth-child(5) {
            background-color: #ef4eb8;
        }

        .color-bar div:nth-child(5) {
            background-color: #4454c3;
        }




    /*------------------------------***-------------color bar----------------***-------------------*/

    /*--------------------------------toplistcoun------------------------------------------*/
    .toplistcount .expenses-card {
        color: #73777b;
        padding: 5px;
        width: 100px;
    }

    @media (max-width:769px) and (min-width: 320px) {
        .toplistcount .expenses-card {
            width: 100%;
        }
    }

    .toplistcount .expenses-card .card-body {
        position: initial;
        width: 100%;
        padding: 5px;
        /*  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);*/
    }

    .toplistcount .feature .feature-icon {
        width: 2.2rem;
        height: 2.2rem;
        /*line-height: 3.5rem;*/
        float: left;
    }

    .toplistcount .feature .bar-icon {
        /* width: 2.5rem;
    height: 2rem;
    border-radius:4px;
    margin:2px;
    padding-top:2px;
    padding-left:4px;
    background-color: aqua;*/
    }

    .toplistcount .expenses-card h1 {
        font-size: 35px;
        margin-top: 0;
        margin-bottom: 0px;
    }

    .toplistcount .expenses-card .feature p {
        margin-bottom: 0;
        font-size: 14px;
    }

    .ytd-count ytd-form {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        background-color: #fff;
        padding: 8px;
        /*  margin:30px 0;*/
        border-radius: 4px;
    }
    /*------------------------**--------toplistcount---------**---------------------------------*/

    .mrt20 {
        margin-top: 20px;
    }

    .tabmargin {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    /*------------------------**-------According---------**---------------------------------*/


    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .accordion:hover {
            background-color: #ccc;
        }
    /*------------------------**-------According---------**---------------------------------*/


    /* Style the accordion panel. Note: hidden by default */
    .panel {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
    }

    /**/
    .north {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari and Chrome */
    }

    .west {
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari and Chrome */
    }

    .south {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari and Chrome */
    }

    .east {
        transform: rotate(270deg);
        -ms-transform: rotate(270deg); /* IE 9 */
        -webkit-transform: rotate(270deg); /* Safari and Chrome */
    }

    #btnRotate {
        position: absolute;
        top: -14px;
        right: 0;
        background: #f5f5f5;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        border-radius: 50%;
        border: 1px solid #ddd;
    }

        #btnRotate i {
            margin: 0px
        }
    /*-------------------------------------magnifire--------------------------------------*/

    .zoom-image-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    .zoom-image {
        position: relative;
    }

        .zoom-image img {
            cursor: none;
            border-radius: 5px;
            box-shadow: 0 18px 5px -15px rgba( 0, 0, 0, .5 );
            width: 175px;
        }

    .hover-image {
        position: fixed;
        width: 300px;
        height: 300px;
        border-radius: 5%;
        transform: translate( -50%, -20% );
        pointer-events: none;
        box-shadow: 0 0 10px rgba( 0, 0, 0, .5 );
        z-index: 999;
    }

    /*-------------------------------------magnifire--------------------------------------*/
    .parentTH th {
        text-align: center !important;
        background-color: #dbe992 !important;
    }

    .childTH th {
        text-align: center !important;
        background-color: #8cd7a6 !important;
    }


    .btn-save {
        background-color: #4454c3;
    }


    /*-----------------------------------------------C-------------------------------*/
    .c1 {
        height: 100px;
        width: 220px;
        margin-top: 10px;
        border-radius: 20px;
        background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    }

    .c2 {
        height: 100px;
        width: 220px;
        margin-top: 10px;
        border-radius: 20px;
        background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    }


    /*----------***---------------------------------------C--------***-----------------------------*/


    /*---------------------------------------user profile code----------------------------------*/
    #user-card .card-body {
        padding: 0px 1px !important;
    }

    .userprofile {
        width: 100%;
        color: #eee;
        text-align: center;
    }
    /*.userprofile 
    #userprofile-form {
        background-color: #fff;
        box-shadow: 0px 10px 10px 20px rgb(176 184 214 / 9%), 3px 5px 8px -5px #b0b8d6;
        border-radius: 8px;
    }
.lower-profile{
    margin-top:-80px;
}*/
    #user-card .card-header {
        background-color: #fff !important;
    }

    #userprofile-form {
        /* height: 50vh;*/
        border-radius: 20px;
        background-color: #fff;
    }

    #userprofile .card {
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
    }

    #userprofile-form .card-header {
        border-bottom: none !important;
    }


    .userprofile .card .card-title {
        font-size: 24px;
        font-weight: bold;
        color: #1f73d8;
    }
    /*--------------------------------------model---------------------------------*/

    .model-lg {
        width: 95vw;
        max-width: none;
        height: 100%;
        margin: 0 auto;
    }

    .modal-header {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        background-color: #3e3b92;
        padding: 10px;
    }
    /*--------------------------------------model---------------------------------*/
    #tblSSRList {
        /*    background-color: #f4f5fb !important;*/
    }
    /*

.userprofile {
    width: 100%;
    color: #eee;
   
}

   */

    .model-lg {
        width: 95vw;
        max-width: none;
        height: 100%;
        margin: 0 auto;
    }

    .grnclr {
        color: green !important;
        font-weight: bold !important;
    }

    .redclr {
        color: red;
    }

    #V_Image {
        width: 350px;
    }

    .zoom-wrapper {
        height: 230px;
    }

    .zoomContainer {
        z-index: 999999;
    }

    #AnnouncementModal {
        margin-top: 8% !important;
    }

        #AnnouncementModal .modal-content {
            border-radius: 15px;
        }

        #AnnouncementModal .modal-header {
            border-radius: 15px 15px 0px 0px;
        }

    #AnnouncementHTML .carousel-item {
        padding: 20px 10px;
        border-radius: 15px
    }

    #AnnouncementHTML .carousel-indicators li {
        background-color: #ddd;
        width: 2px;
        height: 10px;
    }

        #AnnouncementHTML .carousel-indicators li.active {
            background-color: #fff;
        }

    .demo-area {
        background: $color_invert_fg;
        border-radius: 8px;
        padding: 20px;
    }


    .demo-trigger {
        display: inline-block;
        width: 30%;
        float: left;
    }

    .detail {
        position: relative;
        width: 65%;
        margin-left: 5%;
        float: left;
    }

    .sm-war {
        color: red;
        text-align: center;
        font-weight: bold;
        font-size: 10px;
    }

    .txtareabig {
        height: 170px !important;
    }

    .tblSuccess td {
        color: blue;
    }

    .red {
        color: red !important;
    }

    .green {
        color: green !important;
    }
    /*----------------------------trash---------------------------*/
    /*
    @media screen and (min-width:768px) {
        .sidebar-mini.sidenav-toggled .app-sidebar__user {
            padding: 0px 0px 0px 0;
            margin-bottom: 0px;
        }

        .default-sidebar .app-sidebar__user {
            display: block;
            padding: 10px 10px;
        }

        .sidebar-mini.sidenav-toggled .side-menu {
            margin-top: 0px;
            padding: 20px 30px;
            position: fixed;
        }

        .app.sidebar-mini.sidenav-toggled .side-menu__label {
            display: none;
            position: fixed;
            left: 20px;
            color: #73777B;
            font-weight: 500;
            display: block;
            padding: 10px;
            margin: 0 auto;
            text-align: center;
            border-left: 0;
        }
    
}


    
@media screen and (min-width:768px) {
    .sidebar-mini.sidenav-toggled .app-sidebar__user {
        padding: 0px 0px 0px 0;
        margin-bottom: 0px;
    }

    .default-sidebar .app-sidebar__user {
        display: block;
        padding: 10px 10px;
    }
}
 .sidenav-toggled .close-toggle {
        display: none;
    }

.sidenav-toggled .open-toggle {
        display: flex;
    }

     
    .app-sidebar__user {
        padding: 10px 5px;
    }

    .app .app-sidebar {
        margin-top: 52px;
    }

    .slide-item {
        color: #fff !important;
        padding: 6px 14px 6px 30px;
    }

    .app.sidebar-mini.sidenav-toggled .side-menu_item {
        text-align: left;
    }







   

    .side-menu_item {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 5px 19px 5px 19px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        color: #dadbdb !important;
        margin: 10px 0px;
    }

    .side-menu i {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
    }

    .side-menu_item:hover .side-menu_label:hover, .side-menu_item:hover .side-menu_icon, .side-menu_item:hover .angle {
    }

    
    .side-menu .slide:hover {

  

    
        position: relative;
    margin-bottom: 10px;
    background-color: #f1eee9;
    border-radius: 0px;
   }

    
    .side-menu .slide .side-menu_item:hover .side-menu_label {
  
    color: #1f73d8 !important;
}






    .app.sidebar-mini.sidenav-toggled .side-menu__label {
       
        display: none;
        position: fixed;
        left: 20px;
        
        color: #dadbdb;
        
    }

    .app.sidebar-mini.sidenav-toggled .side-menu_item {
        display: block;
        padding: 5px 10px;
        
        margin: 0 8px;
        text-align: center;
        border-left: 0;
        color: #73777B !important;
    }

    .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .slide-menu .parentMenu {
        padding-bottom: 5px;
    }




    .sub-side-menu_item {
        padding-left: 48px !important;
        padding-right: 20px !important;
        height: 40px !important;
        display: block;
        line-height: 40px;
    }

    .slide .sub-angle {
        float: right;
        line-height: 40px;
    }



    .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .slide-menu a {
        color: #888ea8 !important;
    }

        .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .slide-menu a:hover {
            color: #000 !important;
        }


    .slide .parentMenu .sub-angle {
        line-height: 25px;
    }

    .parentMenu .sub-side-menu_label {
        min-width: 140px;
    }

    .parentMenu .sub-side-menu_label {
        min-width: 140px;
        font-size: 0.9rem;
    }

    @media screen and (min-width:768px) {
        .sidebar-mini.sidenav-toggled .app-sidebar__user {
            padding: 0px 0px 0px 0;
            margin-bottom: 0px;
        }


        .default-sidebar .app-sidebar__user {
            display: block;
            padding: 10px;
        }
    }
*/
    /*-----------------------**s-------------------------------sidemenu end--------------------------------**-----------------*/
