
@model IList<Announcement.My>


@if (Model != null)
{
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="2000">
        <div class="carousel-inner">
            @{
                int count = 0;
                string InnerHtml = "<ol class='carousel-indicators'>";
            }
            @foreach (var item in Model)
            {
                InnerHtml += "<li data-target='#demo' data-slide-to='" + count + "' class=" + (count == 0 ? "active" : "") + "></li>";
                count++;
            <div class="carousel-item @(count == 1 ? "active" : "")">
                <div class="col-sm-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">@item.Heading</div>
                        </div>
                        <div class="card-body">
                            <div class="chartjs-wrapper-demo">
                                @Html.Raw(item.Message)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }

        </div>
        @Html.Raw(InnerHtml + "</ol>")

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
}



