@using System.Data
@model  DataSet
<div class="table-responsive">
    <table id="tblSSRList" class="table table-bordered table-hover table-wrapper-scroll-y my-custom-scrollbar text-nowrap key-buttons inoutrpt">
        <thead>
            

            <tr role="row">
                @foreach (DataColumn item in Model.Tables[0].Columns)
                {
                    if (!item.ColumnName.Contains("_") )
                    {
                        <th>@item.ColumnName</th>

                    }
                }
            </tr>
        </thead>
        <tbody>

            @{ int Rowcount = 0;}
            @foreach (DataRow dtRow in Model.Tables[0].Rows)
            {
                Rowcount++;

                <tr role="row" class="@(Rowcount%2==0?"even":"odd")">
                    @foreach (DataColumn dc in Model.Tables[0].Columns)
                    {
                        if (!dc.ColumnName.Contains("_") )
                        {
                            <td>@dtRow[dc.ColumnName]</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
