<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Cookies Expire Time in Mintue-->
    <add key="CookiesExpireTime" value="120" />
    <!-- js Css Version-->
    <add key="Version" value="1.8" />
    <!--  Project Name-->
    <add key="ProjectName" value="Thrivera" />
    <!-- Allowed File Uploading Extension- -->
    <add key="AllowedFile_Ext" value=".PDF|.DOCX|.TXT|.XLS|.XLSX" />
    <!-- AllowedFileUploadSize Upload Size in Bytes-->
    <add key="AllowedFile_Size" value="3145728 " />
    <!-- Allowed Image Uploading Extension-->
    <add key="AllowedImage_Ext" value=".JPG|.JPEG|.PNG|.PDF" />
    <!--  AllowedFileUploadSize Upload Size in Bytes-->
    <add key="AllowedImage_Size" value="2097152" />
    <!--  Optimize Css JS -->
    <add key="OptimizeCssJS" value="N" />
    <!--User can edit URL {true/false}-->
    <add key="AllowURLEditing" value="false" />
    <!--API domain url-->
    <add key="APIUrl" value="http://localhost:130" />
    <add key="ApplicationPath_Physical" value="D:\Our Projects\Thrivera\Website" />
    <add key="Database" value="Thai_Local_V1" />
    <!--Allow Multiple Login {true/false}-->
    <add key="AllowMultipleLogin" value="true" />
    <!--Show SSR Menu {true/false}-->
    <add key="ShowSSRMenuOnDestop" value="true" />
    <!--App URL-->
    <add key="AndroidAppURL" value="https://play.google.com/store/apps/details?id=com.thriverablue.app" />
    <!--App Version-->
    <add key="AppVersion" value="1.0.0" />
  </appSettings>
  <connectionStrings>
	  <add name="connectionstring" connectionString="Data Source=185.100.212.18; User ID=sa; Password=Thrivera@1701; Initial Catalog=Thai_Local_V1; Connect Timeout=20000; Pooling=True; Max Pool Size=8000; " providerName="System.Data.SqlClient" />
   <!--<add connectionString="Data Source=108.165.100.16,1444; User ID=sa; Password=Thrivera@1701; Initial Catalog=HRMS; Connect Timeout=20000; Pooling=True; Max Pool Size=8000;" name="connectionstring" providerName="System.Data.SqlClient" />-->
	  <!--  <add connectionString="Data Source= 104.234.184.15,1443; User ID=sa; Password=Thrivera@1701; Initial Catalog=prod.CPPD; Connect Timeout=20000; Pooling=True; Max Pool Size=8000;" name="connectionstring" providerName="System.Data.SqlClient" />-->
    <!--<add connectionString="Data Source=DESKTOP-4IORNVA\SQLEXPRESS; User ID=sa; Password=thai@1234; Initial Catalog=Thai_Local_V1; integrated security=true; encrypt=false;" name="connectionstring" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--<connectionStrings>
		<add connectionString="Data Source=185.100.212.18; User ID=sa; Password=Thrivera@1701; Initial Catalog=Mitsubishi_V1; Connect Timeout=20000; Pooling=True; Max Pool Size=8000;" name="connectionstring" providerName="System.Data.SqlClient" />
		<add name="connectionstring" connectionString="Data Source=.; User ID=sa; Password=thai@1234; Initial Catalog=Thai_Local_V1; Connect Timeout=20000; Pooling=True; Max Pool Size=8000; " providerName="System.Data.SqlClient" />
	</connectionStrings>
	<connectionStrings>
		<add name="connectionstring" connectionString="Data Source=178.162.198.100; User ID=sa; Password=Thrivera@1701; Initial Catalog=OG; Connect Timeout=20000; Pooling=True; Max Pool Size=8000; " providerName="System.Data.SqlClient" />
	</connectionStrings>-->
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="/Home/Dashboard" loginUrl="/Accounts/Login" slidingExpiration="true" timeout="2880">
      </forms>
    </authentication>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" targetFramework="4.7.2" maxRequestLength="15360000" fcnMode="Single" executionTimeout="900000" requestLengthDiskThreshold="8192" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.17.0" newVersion="2.0.17.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExtendedNumerics.BigDecimal" publicKeyToken="65f1315a45ad8949" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.1000.4.35" newVersion="2023.1000.4.35" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>